[submodule "vim/vim/bundle/gundo.vim"]
	path = vim/vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
